* {
    box-sizing: border-box;
  }
  

  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 1280px;
    color: #3b3b3b;
    font-size: 24px;

  }
  
  p,
  h2,
  h3,
  h4 {
    margin: 0 1rem 0 1rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
  }

  .intro__dek {
    font-size: 24px;
    font-weight: 500;
    margin: auto auto 0.5rem auto;

  }

  a,
  a:visited,
  a:hover {
    color: teal;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
  }
  

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  #botninetyline, #botninetyline5, #botninetyline1 {
    fill: none;
    stroke: #E2B640;
    stroke-width: 1.5px;
  }

  #topfiveline, #topfiveline1 {
    fill: none;
    stroke: #5DD462;
    stroke-width: 1.5px;
  }

  #topfiveline, #topfiveline1 {
    fill: none;
    stroke: #5DD462;
    stroke-width: 1.5px;
  }
  
  #toponeline {
    fill: none;
    stroke: #82C5E6;
    stroke-width: 1.5px;
  }

  /* .nav__examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1rem;
  } */
   
  #intro {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
  }
  
  .intro__hed {
    font-size: 2em;
    margin: 2rem auto 0.5rem auto;
  }
  
  /* .intro__dek { */
    /* color: #8a8a8a; */
  
  /* } */
  
  #intro {
    margin-bottom: 80px;
  }
  
  #outro {
    /* height: 640px; */
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 100px;

  }
  
  @media (min-width: 840px) {
    .nav__examples {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
  
#scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly>* {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

article {
    position: relative;
    padding: 0 1rem;
    max-width: 20rem;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color: #8a8a8a; */
    z-index: 0;
}

figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.step {
    margin: auto;
    /* background-color: #3b3b3b; */
    color: #3b3b3b;
    display: flex;


}

.step:last-child {
    margin-bottom: 1rem;
}

/* .step.is-active { */
    /* background-color: goldenrod; */
    /* color: #3b3b3b; */
/* } */

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    align-self: flex-end;
    /* font-size: 18px; */

}

.hidden { 
  visibility: hidden; 
  transition-timing-function: ease-in-out;
}
/* how to write show/hide function for changing opacity in transitions when scrolling up and down
.hidden {
  opacity:0;
  transition:opacity 1000ms;
} */